@import "tailwindcss";
@plugin "@iconify/tailwind4";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "smartrank";
  default: true; 
  prefersdark: false; 
  color-scheme: light; 

  --color-base-100: oklch(0.28 0.0483 276.13);
  --color-base-200: oklch(0.23 0.0524 273.74);
  --color-base-300: oklch(0.18 0.0586 272.02);
  --color-base-content: oklch(0.98 0.0045 258.32);
  --color-primary: oklch(0.18 0.0586 272.02);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(0.81 0.1798 158.82);
  --color-secondary-content: oklch(0.18 0.0586 272.02);
  --color-accent: oklch(0.81 0.1798 158.82);
  --color-accent-content: oklch(0.18 0.0586 272.02);
  --color-neutral: oklch(0.54 0.0251 277.12);
  --color-neutral-content: oklch(0.98 0.0045 258.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  /* Custom breakpoint */
  --breakpoint-xs: 376px;
  --breakpoint-sm: 481px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
}

:root {
  --breakpoint-xs: 376px;
  --breakpoint-sm: 481px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
  --shadow-neon-accent: 0 0 9px rgba(40, 228, 150, 40);
  --gradient-primary: linear-gradient(145deg, rgba(255,255,255,4%), rgba(255,255,255,6%));
}

html { font-size: 16px }

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

/* * {
  &:focus-visible,
  &:focus {
    border: 0;
  }
} */

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0rem;
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn-accent {
  /* background: linear-gradient(145deg, #28E496, #2ef0ab); */
  box-shadow: var(--shadow-neon-accent);

  &:hover {
    /* transform: translateY(-2px) scale(1.02); */
  box-shadow:
    0 0 8px rgba(40, 228, 150, 0.6),
    0 0 16px rgba(40, 228, 150, 0.3);
  }

  &:focus {
    box-shadow:
    0 0 0 3px rgba(40, 228, 150, 0.3),
    0 0 8px rgba(40, 228, 150, 0.6);
  }

  &:active {
    box-shadow: 0 0 6px rgba(40, 228, 150, 0.3);
    /* transform: translateY(-50%); */
  }

  &:disabled {
    background: rgba(40, 228, 150, 0.2) !important; /* verde sbiadito */
    color: rgba(10, 15, 44, 0.5) !important;         /* testo spento */
    cursor: not-allowed !important;
    opacity: 0.5 !important;
    box-shadow: none !important;
    border: 1px solid rgba(40, 228, 150, 0.2) !important; /* bordo appena visibile */
  }
}

.list-navbar {
  a {
    @apply hover:text-secondary/50 transition-all duration-300;

    &:is(.current-page) {
      @apply text-accent font-medium;

    }
  }
}

/* Mi creo delle proprietà colore, per permettere effetti di hover sul gradiente */
@property --myColor1 {
  syntax: '<color>';
  initial-value: #28E496;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #20A978;
  inherits: false;
}

.hamburger-btn {
  background: var(--gradient-primary);
  box-shadow: 0 0 4px 0px rgba(176, 230, 255, 0.25);
  @apply border-1 border-white/5;
}

.fs-1 {
  font-size: clamp(1.438rem, 0.564vw + 1.323rem, 2rem);
  line-height: 1.15;
  letter-spacing: -0.02em;
  @apply font-semibold;
}

.fs-2 {
  font-size: clamp(1.375rem, 0.376vw + 1.299rem, 1.75rem);
  line-height: 1.2;
  letter-spacing: -0.015em;
  @apply font-semibold;
}

.fs-3 {
  font-size: clamp(1.25rem, 0.313vw + 1.186rem, 1.563rem);
  line-height: 1.3;
  letter-spacing: -0.01em;
  @apply font-semibold;
}

.fs-4 {
  font-size: clamp(1.188rem, 0.188vw + 1.149rem, 1.375rem);
  line-height: 1.4;
  letter-spacing: -0.005em;
  @apply font-semibold;
}

.fs-5 {
  font-size: clamp(1.125rem, 0.125vw + 1.1rem, 1.25rem);
  line-height: 1.5;
  letter-spacing: normal;
  @apply font-semibold;
}

.fs-6 {
  font-size: clamp(1.063rem, 0.063vw + 1.05rem, 1.125rem);
  line-height: 1.5;
  letter-spacing: normal;
  @apply font-semibold;
}

.body-lg {
  font-size: clamp(1.063rem, 0.063vw + 1.05rem, 1.125rem);
  line-height: 1.5;
}

.body-md {
  font-size: clamp(1rem, 0vw + 1rem, 1rem);
  line-height: 1.5;
}

.body-sm {
  font-size: clamp(0.875rem, 0.063vw + 0.862rem, 0.938rem);
  line-height: 1.5;
}

.body-xs {
  font-size: clamp(0.75rem, 0.125vw + 0.725rem, 0.875rem);
  line-height: 1.5;
}

.bodyt-xxs {
  font-size: clamp(0.667rem, 0.125vw + 0.644rem, 0.778rem);
  line-height: 1.5;
}

.offcanvas-gradient {
  background: linear-gradient(145deg, rgba(26,43,92,100%), rgba(10,15,44,100%));
}

input:not([type='checkbox']) {
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.08);

  &:focus {
    box-shadow:
    0 0 10px rgba(255, 255, 255, 0.2),
    0 0 10px rgba(255, 255, 255, 0.1),
    0 0 8px rgba(255, 255, 255, 0.08); /* conserva il glow bianco */
  }
  
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-x-icon lucide-x'%3E%3Cpath d='M18 6 6 18'/%3E%3Cpath d='m6 6 12 12'/%3E%3C/svg%3E");
  background-size: 1.25rem;
  background-repeat: no-repeat;
}

#hero-search {
  box-shadow: 0 0 12px 0px rgba(176, 230, 255, 0.25);

  &:focus {
    box-shadow:
    0 0 12px rgba(255, 255, 255, 0.25),
    0 0 18px rgba(40, 228, 150, 0.45)
  }
}

.bento-box {
  background-image: var(--gradient-primary);
}
